<h1>ВВЕДЕНИЕ И ОПЕРАТОРЫ</h1>

<p><b>1</b><br>
Дана таблица checks:
<br>
· Rub — идентификатор пользователя;<br>
· BuyDate — суммарный чек пользователя на дату;<br>
· UserID — дата, за которую собрана статистика.<br>
<br>
Чтобы взглянуть на колонки этой таблицы и получить первое представление о ее данных, выведите первые 10 строк таблицы checks</p>

In [ ]:
select Rub, BuyDate, UserID
from checks
limit 10

<p><b>2</b><br>
Давайте посмотрим на топ-10 платежей по сумме в рублях. Выведите первые 10 строк таблицы checks, но теперь отсортировав значения Rub по убыванию.</p>

In [ ]:
select Rub, BuyDate, UserID
from checks
order by Rub desc
limit 10

<p><b>3</b><br>
Для работы бывает удобно переименовать колонки таблицы. Выведите первые 15 строк таблицы checks, переименовав поле Rub в Revenue и используя сортировку по возрастанию столбца UserID. Разместите столбцы в запросе в следующем порядке revenue, buydate, userid.</p>

In [ ]:
select Rub as Revenue, BuyDate, UserID
from checks
order by UserID
limit 15

<p><b>4</b><br>
Проверьте, данные за какой период имеются в таблице. Для этого используйте MIN и MAX по колонке BuyDate. Колонки с минимальным и максимальным значением назовите MinDate и MaxDate соответственно.</p>

In [ ]:
select 
    min(BuyDate) as MinDate,
    max(BuyDate) as MaxDate
from checks

<p><b>5</b><br>
Предположим, что перед нами стоит задача отобрать несколько групп пользователей по разным критериям, чтобы отправить им персональные сообщения об акциях. Например, первым 10 пользователям, зарегистрировавшимся на сайте (чем раньше зарегистрировался пользователь, тем меньше его UserID), мы хотим подарить скидку на следующую покупку.

Выведите UserID 10 уникальных покупателей, используя оператор DISTINCT. Таблицу отсортируйте по UserID в порядке возрастания.</p>

In [ ]:
select DISTINCT UserID
from checks
order by UserID
limit 10

<p><b>6</b><br>
Мы хотим сформировать новую акцию к 8 марта, и для этого нас интересуют самые крупные покупки, совершенные в этот день в прошлом году.

Выведите информацию о продажах, которые были совершены 8 марта 2019 года, используя блок WHERE применительно к полю BuyDate. Значения отсортируйте по убыванию Rub. Количество строк для извлечения – 10. Дата хранится в таблице в текстовом виде и имеет формат год-месяц-день (‘YYYY-MM-DD’).</p>

In [ ]:
select UserID, Rub
from checks
where BuyDate = '2019-03-08'
order by Rub desc
limit 10

<p><b>7</b><br>
Мы предполагаем, что пользователи, которые совершили крупные покупки 1 сентября в прошлом году - родители школьников, и в следующем году можно будет подготовить для них акцию на группу товаров.<br><br>
Давайте применим WHERE к полям BuyDate и Rub, и посмотрим на уникальные id покупателей из checks, которые совершили покупку 1 сентября 2019 года на сумму более 2 000 рублей. Значения отсортируйте по убыванию UserID.</p>

In [ ]:
select distinct UserID, BuyDate, Rub
from checks
where BuyDate = '2019-09-01' and Rub > 2000
order by UserID desc